# Stock gain calculation
## First in First out law

### - Import libraries

In [107]:
import pandas as pd

### - read excel files

In [108]:
df = pd.read_excel("tax_2021.xlsx", sheet_name="Sheet2")
df.head()

,2020-2021,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10
0,Code,Company,Date,Type,Quantity,Unit Price ($),Trade Value ($),Brokerage+GST ($),GST ($),Contract Note,Total Value ($)
1,MQG,MACQUARIE GROUP LTD FPO (ORDINARY FULLY PAID),14/09/2020,Buy,41,119.98,4919.18,19.95,1.81,106153936,4939.13
2,MQG,MACQUARIE GROUP LTD FPO (ORDINARY FULLY PAID),12/01/2021,Sell,-41,139.4,-5715.4,19.95,1.81,111737304,-5695.45
3,OSH,OIL SEARCH LTD FPO 10T (10 TOEA ORDINARY FULLY...,14/07/2020,Buy,305,2.95,899.75,10,0.91,102947053,909.75
4,OSH,OIL SEARCH LTD FPO 10T (10 TOEA ORDINARY FULLY...,10/11/2020,Sell,-305,3.24,-988.2,10,0.91,108921274,-978.2

### Extract required data

In [109]:
df_1 = pd.read_excel("tax_2021.xlsx", sheet_name="Sheet2", skiprows=1, nrows=9)
df_1.drop(columns=['Company', 'Unit Price ($)', 'Trade Value ($)', 'Brokerage+GST ($)', 'GST ($)', 'Contract Note'], inplace=True)
df_1['Unit Value ($)'] = df_1['Total Value ($)'] / df_1['Quantity']

df_1

  Code        Date  Type  Quantity  Total Value ($)  Unit Value ($)
0  MQG  14/09/2020   Buy        41          4939.13      120.466585
1  MQG  12/01/2021  Sell       -41         -5695.45      138.913415
2  OSH  14/07/2020   Buy       305           909.75        2.982787
3  OSH  10/11/2020  Sell      -305          -978.20        3.207213
4  OSH  10/11/2020  Sell      -308          -981.76        3.187532
5  OSH  13/11/2020   Buy       275           995.88        3.621382
6  OSH  12/01/2021  Sell      -746         -3120.71        4.183257
7  OSH  19/01/2021   Buy       886          3918.35        4.422517
8  OSH  11/06/2021  Sell      -700         -2815.05        4.021500

In [110]:
df_2= pd.read_excel("tax_2021.xlsx", sheet_name="Sheet2", skiprows=12, nrows=4)
df_2.drop(columns=['Company', 'Unit Price ($)', 'Trade Value ($)', 'Brokerage+GST ($)', 'GST ($)', 'Contract Note'], inplace=True)
df_2['Unit Value ($)'] = df_2['Total Value ($)'] / df_2['Quantity']
df_2

  Code        Date Type  Quantity  Total Value ($)  Unit Value ($)
0  OSH  22/04/2020  Buy       230           570.05        2.478478
1  OSH  01/05/2020  Buy       200           590.00        2.950000
2  OSH  29/05/2020  Buy       200           690.00        3.450000
3  OSH  12/06/2020  Buy       149           509.15        3.417114

In [111]:
df_3= pd.read_excel("tax_2021.xlsx", sheet_name="Sheet2", skiprows=21, nrows=3)
df_3.drop(columns=['Company', 'Unit Price ($)', 'Trade Value ($)', 'Brokerage+GST ($)', 'GST ($)', 'Contract Note'], inplace=True)
df_3['Unit Value ($)'] = df_3['Total Value ($)'] / df_3['Quantity']
df_3

   Code        Date Type  Quantity  Total Value ($)  Unit Value ($)
0  ETHI  11/06/2020  Buy        51           549.23       10.769216
1   SYI  18/05/2020  Buy        22           490.40       22.290909
2   SYI  25/05/2020  Buy        30           686.90       22.896667

In [112]:
df_4= pd.read_excel("tax_2021.xlsx", sheet_name="Sheet2", skiprows=27, nrows=17)
df_4.drop(columns=['Company', 'Unit Price ($)', 'Trade Value ($)', 'Brokerage+GST ($)', 'GST ($)', 'Contract Note'], inplace=True)
df_4['Unit Value ($)'] = df_4['Total Value ($)'] / df_4['Quantity']
df_4

    Code        Date  Type  Quantity  Total Value ($)  Unit Value ($)
0   ETHI  04/06/2021   Buy        83           994.68       11.984096
1   ETHI  09/06/2021   Buy        83           998.00       12.024096
2   ETHI  18/06/2021   Buy        80           993.20       12.415000
3   ETHI  23/06/2021   Buy        80           997.16       12.464500
4    IOZ  14/04/2021   Buy        34           980.52       28.838824
5    IOZ  10/05/2021   Buy        34           999.90       29.408824
6    IOZ  18/06/2021   Buy        32           974.48       30.452500
7    NDQ  28/10/2020   Buy        55          1476.40       26.843636
8    NDQ  13/11/2020   Buy        47          1278.13       27.194255
9    NDQ  29/12/2020   Buy        20           561.60       28.080000
10   NDQ  14/01/2021   Buy       179          4986.16       27.855642
11   NDQ  23/02/2021   Buy        19           530.58       27.925263
12   NDQ  01/03/2021   Buy         8           224.16       28.020000
13   NDQ  22/03/2021   Buy        17           473.41       27.847647
14   NDQ  07/05/2021   Buy        34           989.02       29.088824
15   NDQ  25/05/2021   Buy        20           586.00       29.300000
16   SYI  07/06/2021  Sell       -52         -1533.53       29.490962

## Concatenate 2020-2021 Data

In [113]:
df = pd.concat([df_1, df_2, df_3, df_4], axis=0) # Concatenate 2020 and 2021 data into a table
df['Date'] = pd.to_datetime(df['Date'], dayfirst=True) # Date : String to datetime format
df.sort_values(['Code', 'Date'], ascending=True, inplace=True) # Sorting multiple names [Code, Date]
df.reset_index(drop=True, inplace=True) # Reset index from 0
df

    Code       Date  Type  Quantity  Total Value ($)  Unit Value ($)
0   ETHI 2020-06-11   Buy        51           549.23       10.769216
1   ETHI 2021-06-04   Buy        83           994.68       11.984096
2   ETHI 2021-06-09   Buy        83           998.00       12.024096
3   ETHI 2021-06-18   Buy        80           993.20       12.415000
4   ETHI 2021-06-23   Buy        80           997.16       12.464500
5    IOZ 2021-04-14   Buy        34           980.52       28.838824
6    IOZ 2021-05-10   Buy        34           999.90       29.408824
7    IOZ 2021-06-18   Buy        32           974.48       30.452500
8    MQG 2020-09-14   Buy        41          4939.13      120.466585
9    MQG 2021-01-12  Sell       -41         -5695.45      138.913415
10   NDQ 2020-10-28   Buy        55          1476.40       26.843636
11   NDQ 2020-11-13   Buy        47          1278.13       27.194255
12   NDQ 2020-12-29   Buy        20           561.60       28.080000
13   NDQ 2021-01-14   Buy       179          4986.16       27.855642
14   NDQ 2021-02-23   Buy        19           530.58       27.925263
15   NDQ 2021-03-01   Buy         8           224.16       28.020000
16   NDQ 2021-03-22   Buy        17           473.41       27.847647
17   NDQ 2021-05-07   Buy        34           989.02       29.088824
18   NDQ 2021-05-25   Buy        20           586.00       29.300000
19   OSH 2020-04-22   Buy       230           570.05        2.478478
20   OSH 2020-05-01   Buy       200           590.00        2.950000
21   OSH 2020-05-29   Buy       200           690.00        3.450000
22   OSH 2020-06-12   Buy       149           509.15        3.417114
23   OSH 2020-07-14   Buy       305           909.75        2.982787
24   OSH 2020-11-10  Sell      -305          -978.20        3.207213
25   OSH 2020-11-10  Sell      -308          -981.76        3.187532
26   OSH 2020-11-13   Buy       275           995.88        3.621382
27   OSH 2021-01-12  Sell      -746         -3120.71        4.183257
28   OSH 2021-01-19   Buy       886          3918.35        4.422517
29   OSH 2021-06-11  Sell      -700         -2815.05        4.021500
30   SYI 2020-05-18   Buy        22           490.40       22.290909
31   SYI 2020-05-25   Buy        30           686.90       22.896667
32   SYI 2021-06-07  Sell       -52         -1533.53       29.490962

## Divide the dataframe by Stock Code

In [114]:
mask1 = df['Code'] == 'MQG'
mask2 = df['Code'] == 'OSH'
mask3 = df['Code'] == 'IOZ'
mask4 = df['Code'] == 'NDQ'
mask5 = df['Code'] == 'SYI'
mask6 = df['Code'] == 'ETHI'

In [115]:
df1 = df[mask1]
df1.reset_index(drop=True, inplace=True)
df1

  Code       Date  Type  Quantity  Total Value ($)  Unit Value ($)
0  MQG 2020-09-14   Buy        41          4939.13      120.466585
1  MQG 2021-01-12  Sell       -41         -5695.45      138.913415

In [116]:
df2 = df[mask2]
df2.reset_index(drop=True, inplace=True)
df2

   Code       Date  Type  Quantity  Total Value ($)  Unit Value ($)
0   OSH 2020-04-22   Buy       230           570.05        2.478478
1   OSH 2020-05-01   Buy       200           590.00        2.950000
2   OSH 2020-05-29   Buy       200           690.00        3.450000
3   OSH 2020-06-12   Buy       149           509.15        3.417114
4   OSH 2020-07-14   Buy       305           909.75        2.982787
5   OSH 2020-11-10  Sell      -305          -978.20        3.207213
6   OSH 2020-11-10  Sell      -308          -981.76        3.187532
7   OSH 2020-11-13   Buy       275           995.88        3.621382
8   OSH 2021-01-12  Sell      -746         -3120.71        4.183257
9   OSH 2021-01-19   Buy       886          3918.35        4.422517
10  OSH 2021-06-11  Sell      -700         -2815.05        4.021500

In [117]:
df3 = df[mask3]
df3.reset_index(drop=True, inplace=True)
df3

  Code       Date Type  Quantity  Total Value ($)  Unit Value ($)
0  IOZ 2021-04-14  Buy        34           980.52       28.838824
1  IOZ 2021-05-10  Buy        34           999.90       29.408824
2  IOZ 2021-06-18  Buy        32           974.48       30.452500

In [118]:
df4 = df[mask4]
df4.reset_index(drop=True, inplace=True)
df4

  Code       Date Type  Quantity  Total Value ($)  Unit Value ($)
0  NDQ 2020-10-28  Buy        55          1476.40       26.843636
1  NDQ 2020-11-13  Buy        47          1278.13       27.194255
2  NDQ 2020-12-29  Buy        20           561.60       28.080000
3  NDQ 2021-01-14  Buy       179          4986.16       27.855642
4  NDQ 2021-02-23  Buy        19           530.58       27.925263
5  NDQ 2021-03-01  Buy         8           224.16       28.020000
6  NDQ 2021-03-22  Buy        17           473.41       27.847647
7  NDQ 2021-05-07  Buy        34           989.02       29.088824
8  NDQ 2021-05-25  Buy        20           586.00       29.300000

In [119]:
df5 = df[mask5]
df5.reset_index(drop=True, inplace=True)
df5

  Code       Date  Type  Quantity  Total Value ($)  Unit Value ($)
0  SYI 2020-05-18   Buy        22           490.40       22.290909
1  SYI 2020-05-25   Buy        30           686.90       22.896667
2  SYI 2021-06-07  Sell       -52         -1533.53       29.490962

In [120]:
df6 = df[mask6]
df6.reset_index(drop=True, inplace=True)
df6

   Code       Date Type  Quantity  Total Value ($)  Unit Value ($)
0  ETHI 2020-06-11  Buy        51           549.23       10.769216
1  ETHI 2021-06-04  Buy        83           994.68       11.984096
2  ETHI 2021-06-09  Buy        83           998.00       12.024096
3  ETHI 2021-06-18  Buy        80           993.20       12.415000
4  ETHI 2021-06-23  Buy        80           997.16       12.464500

## Gain caluculation

In [121]:
import logging
from collections import deque
import math

class Trans:
    datetime=None
    amount=None
    price=None
 
    def __init__(self, datetime, amount, price):
        self.datetime=datetime
        self.amount=amount
        self.price=price
     
    def getInfo(self):
        return(str(self.datetime)+"; "+
                str(self.amount)+"; "+
                str(self.price))+"; "
 
def balanceFifo(all_trans):
 
    qTransactions = deque() 
    trans_result = list()
 
    for t in all_trans:
        #Add first element to the queue
        if len(qTransactions)==0:
            #logging.debug('Added the first element: %s',t.getInfo())
            qTransactions.append(t)
            continue
 
        while (t.amount!=0 and len(qTransactions)>0):
            #investigate the first element from the queue
            tq=qTransactions.popleft()
            #the same type of transaction: both sell or both buy
            if tq.amount*t.amount>0:
                #return the first element back to the same place
                qTransactions.appendleft(tq)
                #add the new element to the list
                qTransactions.append(t)
                #logging.debug('Added: %s',t.getInfo())
                break
             
            #contrary transactions: (sell and buy) or (buy and sell) 
            if tq.amount*t.amount<0:
                #logging.debug('Transaction : %s',t.getInfo())
                #logging.debug('... try to balance with: %s',tq.getInfo())
 
                #The element in the queue have more units and takes in the current transaction
                if abs(tq.amount)>abs(t.amount):
                    result = insertTransaction(tq.datetime,t.datetime,\
                            math.copysign(t.amount,tq.amount), tq.price,t.price)
                    trans_result.append(result)
                    
                    #update the amount of the element in the queue
                    tq.amount=tq.amount+t.amount
                    #return the element back to the same place
                    qTransactions.appendleft(tq)
                    #logging.debug('Removed transaction: %s',t.getInfo())
                    #the transaction has been balanced, take a new transaction
                    break
                 
                #The element from the queue and transaction have the same amount of units
                if abs(tq.amount)==abs(t.amount):
                    result = insertTransaction(tq.datetime,t.datetime,\
                                math.copysign(t.amount,tq.amount), tq.price,t.price)
                    trans_result.append(result)
                    
                    #update the amount in the transaction 
                    t.amount=0
                    #logging.debug('Balanced, removed transaction: %s',t.getInfo())
                    #logging.debug('Balanced, removed from the queue: %s',tq.getInfo())
                    #the transaction has been balanced, take a new transaction
                    continue
                    
                #The transaction has more units
                if abs(tq.amount)<abs(t.amount):
                    #update the units in transaction, (remove element from the queue)
                    t.amount=t.amount+tq.amount
                    result = insertTransaction(tq.datetime,t.datetime,tq.amount,tq.price,t.price)
                    trans_result.append(result)
                    #logging.debug('Removed from queue: %s',tq.getInfo())
                     
                    #the transaction has not been balanced, 
                    #take a new element from the queue (t.amount>0)
                    continue
                 
        #We have unbalanced transaction but the queue is empty            
        if (t.amount!=0 and len(qTransactions)==0):
            #Add unbalanced transaction to the queue
            #The queue changes polarisation
            qTransactions.append(t)
            #logging.debug('Left element: %s',t.getInfo())
     
     
    #If something remained in the queue, treat it as open or part-open transactions
    while (len(qTransactions)>0):
        tq=qTransactions.popleft()
        #logging.debug('Remained on list transaction: %s',tq.getInfo())
        
    return trans_result
 
def insertTransaction(dateStart,dateEnd,amount,priceStart,priceEnd):
    #print("Bought={}, sold={},  amount={}, buy price={}, sell_price={}, gain={}".\
    #        format(dateStart,dateEnd,amount,priceStart,priceEnd, amount*(priceEnd-priceStart)))
    result = [dateStart,dateEnd,amount,priceStart,priceEnd, amount*(priceEnd-priceStart)]
    return result

### Gain Calculation for each Stock Code

In [122]:
trans_list=list()
for i in range(0, df1.shape[0]):
    trans = Trans(df1['Date'][i].date(), df1['Quantity'][i], df1['Unit Value ($)'][i])
    trans_list.append(trans)
trans_result = balanceFifo(trans_list)
df1_capital = pd.DataFrame(trans_result, columns = ['Date Purchased', 'Date Sold', 'Quantity', 'Buy Price', 'Sell Price', 'Capital Gain'])
df1_capital

  Date Purchased   Date Sold  Quantity   Buy Price  Sell Price  Capital Gain
0     2020-09-14  2021-01-12      41.0  120.466585  138.913415        756.32

In [123]:
print(df1['Code'][0], df1_capital['Capital Gain'].sum())

MQG 756.3199999999997

In [124]:
trans_list=list()
for i in range(0, df2.shape[0]):
    trans = Trans(df2['Date'][i].date(), df2['Quantity'][i], df2['Unit Value ($)'][i])
    trans_list.append(trans)
trans_result = balanceFifo(trans_list)
df2_capital = pd.DataFrame(trans_result, columns = ['Date Purchased', 'Date Sold', 'Quantity', 'Buy Price', 'Sell Price', 'Capital Gain'])
df2_capital

  Date Purchased   Date Sold  Quantity  Buy Price  Sell Price  Capital Gain
0     2020-04-22  2020-11-10     230.0   2.478478    3.207213    167.609016
1     2020-05-01  2020-11-10      75.0   2.950000    3.207213     19.290984
2     2020-05-01  2020-11-10     125.0   2.950000    3.187532     29.691558
3     2020-05-29  2020-11-10     183.0   3.450000    3.187532    -48.031558
4     2020-05-29  2021-01-12      17.0   3.450000    4.183257     12.465375
5     2020-06-12  2021-01-12     149.0   3.417114    4.183257    114.155349
6     2020-07-14  2021-01-12     305.0   2.982787    4.183257    366.143499
7     2020-11-13  2021-01-12     275.0   3.621382    4.183257    154.515777
8     2021-01-19  2021-06-11     700.0   4.422517    4.021500   -280.711851

In [125]:
print(df2['Code'][0], df2_capital['Capital Gain'].sum())

OSH 535.128148984199

In [126]:
trans_list=list()
for i in range(0, df3.shape[0]):
    trans = Trans(df3['Date'][i].date(), df3['Quantity'][i], df3['Unit Value ($)'][i])
    trans_list.append(trans)
trans_result = balanceFifo(trans_list)
df3_capital = pd.DataFrame(trans_result, columns = ['Date Purchased', 'Date Sold', 'Quantity', 'Buy Price', 'Sell Price', 'Capital Gain'])
df3_capital

Empty DataFrame
Columns: [Date Purchased, Date Sold, Quantity, Buy Price, Sell Price, Capital Gain]
Index: []

In [127]:
trans_list=list()
for i in range(0, df4.shape[0]):
    trans = Trans(df4['Date'][i].date(), df4['Quantity'][i], df4['Unit Value ($)'][i])
    trans_list.append(trans)
trans_result = balanceFifo(trans_list)
df4_capital = pd.DataFrame(trans_result, columns = ['Date Purchased', 'Date Sold', 'Quantity', 'Buy Price', 'Sell Price', 'Capital Gain'])
df4_capital

Empty DataFrame
Columns: [Date Purchased, Date Sold, Quantity, Buy Price, Sell Price, Capital Gain]
Index: []

In [128]:
trans_list=list()
for i in range(0, df5.shape[0]):
    trans = Trans(df5['Date'][i].date(), df5['Quantity'][i], df5['Unit Value ($)'][i])
    trans_list.append(trans)
trans_result = balanceFifo(trans_list)
df5_capital = pd.DataFrame(trans_result, columns = ['Date Purchased', 'Date Sold', 'Quantity', 'Buy Price', 'Sell Price', 'Capital Gain'])
df5_capital

  Date Purchased   Date Sold  Quantity  Buy Price  Sell Price  Capital Gain
0     2020-05-18  2021-06-07      22.0  22.290909   29.490962    158.401154
1     2020-05-25  2021-06-07      30.0  22.896667   29.490962    197.828846

In [129]:
print(df5['Code'][0], df5_capital['Capital Gain'].sum())

SYI 356.23

In [130]:
trans_list=list()
for i in range(0, df6.shape[0]):
    trans = Trans(df6['Date'][i].date(), df6['Quantity'][i], df6['Unit Value ($)'][i])
    trans_list.append(trans)
trans_result = balanceFifo(trans_list)
df6_capital = pd.DataFrame(trans_result, columns = ['Date Purchased', 'Date Sold', 'Quantity', 'Buy Price', 'Sell Price', 'Capital Gain'])
df6_capital

Empty DataFrame
Columns: [Date Purchased, Date Sold, Quantity, Buy Price, Sell Price, Capital Gain]
Index: []