# Stock capital gain calculation
## First in First out law (FIFO)

### - Import libraries

In [2]:
import pandas as pd
import numpy as np

### - read excel files

In [11]:
df = pd.read_excel("tax_2022.xlsx", sheet_name="Sheet3")
df['Code'] = df['SYMBOL']
df['Date'] = df['DATE (US)']
df['Type'] = df['SIDE']
df['Quantity'] = df['UNIT']
df['Total Value ($)'] = df['TOTAL']

df.drop(columns = ['SYMBOL', 'SIDE', 'DATE (US)', 'UNITS', 'UNIT', 'LOCAL CURRENCY VALUE', 'TOTAL'], inplace=True)
df['Unit Value ($)'] = df['Total Value ($)'] / df['Quantity']
                  
df.head()

   Code       Date Type  Quantity  Total Value ($)  Unit Value ($)
0  AAPL 2021-11-30    B         4       917.974080      229.493520
1  AAPL 2021-12-21    B         6      1433.048400      238.841400
2  AAPL 2021-12-21    B         6      1432.285550      238.714258
3  AAPL 2022-01-07    B        10      2397.448480      239.744848
4  AAPL 2022-07-11    S       -16     -3423.129282      213.945580

## Concatenate 2020-2022 Data

In [12]:
df['Date'] = pd.to_datetime(df['Date'], dayfirst=True) # Date : String to datetime format
df.sort_values(['Code', 'Date'], ascending=True, inplace=True) # Sorting multiple names [Code, Date]
df.reset_index(drop=True, inplace=True) # Reset index from 0
df.head()

   Code       Date Type  Quantity  Total Value ($)  Unit Value ($)
0  AAPL 2021-11-30    B         4       917.974080      229.493520
1  AAPL 2021-12-21    B         6      1433.048400      238.841400
2  AAPL 2021-12-21    B         6      1432.285550      238.714258
3  AAPL 2022-01-07    B        10      2397.448480      239.744848
4  AAPL 2022-07-11    S       -16     -3423.129282      213.945580

## Capital Gain Calculator: FIFO

In [14]:
import logging
from collections import deque
import math

class Trans:
    datetime=None
    amount=None
    price=None
 
    def __init__(self, datetime, amount, price):
        self.datetime=datetime
        self.amount=amount
        self.price=price
     
    def getInfo(self):
        return(str(self.datetime)+"; "+
                str(self.amount)+"; "+
                str(self.price))+"; "
 
def balanceFifo(all_trans):
 
    qTransactions = deque() 
    trans_result = list()
 
    for t in all_trans:
        #Add first element to the queue
        if len(qTransactions)==0:
            #logging.debug('Added the first element: %s',t.getInfo())
            qTransactions.append(t)
            continue
 
        while (t.amount!=0 and len(qTransactions)>0):
            #investigate the first element from the queue
            tq=qTransactions.popleft()
            #the same type of transaction: both sell or both buy
            if tq.amount*t.amount>0:
                #return the first element back to the same place
                qTransactions.appendleft(tq)
                #add the new element to the list
                qTransactions.append(t)
                #logging.debug('Added: %s',t.getInfo())
                break
             
            #contrary transactions: (sell and buy) or (buy and sell) 
            if tq.amount*t.amount<0:
                #logging.debug('Transaction : %s',t.getInfo())
                #logging.debug('... try to balance with: %s',tq.getInfo())
 
                #The element in the queue have more units and takes in the current transaction
                if abs(tq.amount)>abs(t.amount):
                    result = insertTransaction(tq.datetime,t.datetime,\
                            math.copysign(t.amount,tq.amount), tq.price,t.price)
                    trans_result.append(result)
                    
                    #update the amount of the element in the queue
                    tq.amount=tq.amount+t.amount
                    #return the element back to the same place
                    qTransactions.appendleft(tq)
                    #logging.debug('Removed transaction: %s',t.getInfo())
                    #the transaction has been balanced, take a new transaction
                    break
                 
                #The element from the queue and transaction have the same amount of units
                if abs(tq.amount)==abs(t.amount):
                    result = insertTransaction(tq.datetime,t.datetime,\
                                math.copysign(t.amount,tq.amount), tq.price,t.price)
                    trans_result.append(result)
                    
                    #update the amount in the transaction 
                    t.amount=0
                    #logging.debug('Balanced, removed transaction: %s',t.getInfo())
                    #logging.debug('Balanced, removed from the queue: %s',tq.getInfo())
                    #the transaction has been balanced, take a new transaction
                    continue
                    
                #The transaction has more units
                if abs(tq.amount)<abs(t.amount):
                    #update the units in transaction, (remove element from the queue)
                    t.amount=t.amount+tq.amount
                    result = insertTransaction(tq.datetime,t.datetime,tq.amount,tq.price,t.price)
                    trans_result.append(result)
                    #logging.debug('Removed from queue: %s',tq.getInfo())
                     
                    #the transaction has not been balanced, 
                    #take a new element from the queue (t.amount>0)
                    continue
                 
        #We have unbalanced transaction but the queue is empty            
        if (t.amount!=0 and len(qTransactions)==0):
            #Add unbalanced transaction to the queue
            #The queue changes polarisation
            qTransactions.append(t)
            #logging.debug('Left element: %s',t.getInfo())
     
     
    #If something remained in the queue, treat it as open or part-open transactions
    while (len(qTransactions)>0):
        tq=qTransactions.popleft()
        #logging.debug('Remained on list transaction: %s',tq.getInfo())
        
    return trans_result
 
def insertTransaction(dateStart,dateEnd,amount,priceStart,priceEnd):
    #print("Bought={}, sold={},  amount={}, buy price={}, sell_price={}, gain={}".\
    #        format(dateStart,dateEnd,amount,priceStart,priceEnd, amount*(priceEnd-priceStart)))
    result = [dateStart,dateEnd,amount,priceStart,priceEnd, amount*(priceEnd-priceStart)]
    return result

## Divide the dataframe by Stock Code

In [15]:
code = df['Code'].value_counts()
print("size: ", code.size, "index: ", code.index, "value: ", code.values)

size:  9 index:  Index(['SQQQ', 'TQQQ', 'AAPL', 'QYLD', 'CVX', 'OXY', 'DBA', 'JNJ', 'SNOW'], dtype='object') value:  [24 15  7  6  5  5  2  2  2]

In [16]:
code.index[0]

'SQQQ'

In [23]:
sum_df = []

for j in range(0, code.size):
    # Seperate dataframe by Code name
    mask_code = df['Code'] == code.index[j]
    df_mask = df[mask_code]
    df_mask.reset_index(drop=True, inplace=True)
    print("All Transactions for", code.index[j])
    print(df_mask)
    
    # Save dataframe to an excel file
    #with pd.ExcelWriter('tax_return_2022.xlsx') as writer:
    #    df_mask.to_excel(writer, sheet_name = str(code.index[j]))
    
    # Capital gain caluculation FIFO
    trans_list=list()
    for i in range(0, df_mask.shape[0]):
        trans = Trans(df_mask['Date'][i].date(), df_mask['Quantity'][i], df_mask['Unit Value ($)'][i])
        trans_list.append(trans)
    trans_result = balanceFifo(trans_list)
    df_capital = pd.DataFrame(trans_result, columns = ['Date Purchased', 'Date Sold', 'Quantity', 'Buy Price', 'Sell Price', 'Capital Gain'])

    # Filtering sold date for 2021-2022 Capital Gain
    mask_time = (df_capital['Date Sold'] > pd.to_datetime("2021-06-30")) & (df_capital['Date Sold'] < pd.to_datetime("2022-07-01"))
    df_filtered = df_capital[mask_time]
    #print("All Time Capital gain for", code.index[j])
    #print(df_capital)
    print("Financial Year Capital gain for", code.index[j])
    print(df_filtered)
    
    # Summation of capita gains (Total: any loses, discounts not included, Net: including loses or discounts)
    sum_total = np.sum(x for x in df_filtered['Capital Gain'] if x > 0)
    sum_net = np.sum(x for x in df_filtered['Capital Gain'])
    #For net capital gain, discounts for 'over 1 year stocks' should be applied
    diff = df_filtered['Date Sold'] - df_filtered['Date Purchased'] # How many days holding stocks
    discount = 0 # Amount of discount
    
    # If you hold stocks more than a year, you get half of discount on capital gain for taxation
    for y in range(0, diff.size):
        if (int(diff.values[y]/8.64e+13) > 365): 
            discount = discount + df_filtered['Capital Gain'][y] / 2
            sum_net = sum_net - discount
        else: 
            sum_net = sum_net
        
    print("Total capital gain for", code.index[j], ": ", round(sum_total, 2), "AUD")
    print("Net capital gain for", code.index[j], ": ", round(sum_net, 2), "AUD")
    
    # Append data into Summary dataframe
    a = [code.index[j], sum_total, sum_net]
    sum_df.append(a)

All Transactions for SQQQ
    Code       Date Type  Quantity  Total Value ($)  Unit Value ($)
0   SQQQ 2022-07-19    B         2       143.301744       71.650872
1   SQQQ 2022-07-20    B         2       138.921120       69.460560
2   SQQQ 2022-07-20    B         2       138.950080       69.475040
3   SQQQ 2022-07-20    S        -6      -412.607600       68.767933
4   SQQQ 2022-07-21    B         5       332.670416       66.534083
5   SQQQ 2022-07-21    S        -5      -325.679474       65.135895
6   SQQQ 2022-07-21    B         5       335.000730       67.000146
7   SQQQ 2022-07-21    B         5       337.244200       67.448840
8   SQQQ 2022-07-21    B         5       336.520500       67.304100
9   SQQQ 2022-07-22    B         5       314.960184       62.992037
10  SQQQ 2022-07-22    S       -20     -1280.010600       64.000530
11  SQQQ 2022-08-01    B        20      1171.066400       58.553320
12  SQQQ 2022-08-01    B        20      1141.328236       57.066412
13  SQQQ 2022-08-03    B        52      2823.731462       54.302528
14  SQQQ 2022-08-10    B         2       102.078070       51.039035
15  SQQQ 2022-08-11    S       -44     -2149.324320       48.848280
16  SQQQ 2022-08-11    S       -50     -2442.414000       48.848280
17  SQQQ 2022-08-23    B        10       567.931000       56.793100
18  SQQQ 2022-08-29    B        10       619.100481       61.910048
19  SQQQ 2022-09-01    S       -10      -692.079066       69.207907
20  SQQQ 2022-09-01    S        -5      -349.282206       69.856441
21  SQQQ 2022-09-06    B        10       704.944365       70.494436
22  SQQQ 2022-09-06    B        10       706.146000       70.614600
23  SQQQ 2022-09-08    B         5       333.015657       66.603131
Financial Year Capital gain for SQQQ
Empty DataFrame
Columns: [Date Purchased, Date Sold, Quantity, Buy Price, Sell Price, Capital Gain]
Index: []
Total capital gain for SQQQ :  0 AUD
Net capital gain for SQQQ :  0 AUD
All Transactions for TQQQ
    Code       Date Type  Quantity  Total Value ($)  Unit Value ($)
0   TQQQ 2022-07-13    B         1        35.914203       35.914203
1   TQQQ 2022-07-13    B         2        72.422766       36.211383
2   TQQQ 2022-07-14    B         3       105.633870       35.211290
3   TQQQ 2022-07-15    S        -6      -232.266148       38.711025
4   TQQQ 2022-08-11    B         1        52.984854       52.984854
5   TQQQ 2022-08-11    S        -1       -51.502464       51.502464
6   TQQQ 2022-08-15    B        40      2172.566200       54.314155
7   TQQQ 2022-08-15    B        50      2697.911500       53.958230
8   TQQQ 2022-08-16    S       -40     -2217.369600       55.434240
9   TQQQ 2022-08-16    S       -20     -1101.466800       55.073340
10  TQQQ 2022-08-16    S       -30     -1652.633280       55.087776
11  TQQQ 2022-08-24    B        10       468.879880       46.887988
12  TQQQ 2022-08-26    B         5       234.608400       46.921680
13  TQQQ 2022-08-26    B         5       231.625108       46.325022
14  TQQQ 2022-09-01    B        10       393.664914       39.366491
Financial Year Capital gain for TQQQ
Empty DataFrame
Columns: [Date Purchased, Date Sold, Quantity, Buy Price, Sell Price, Capital Gain]
Index: []
Total capital gain for TQQQ :  0 AUD
Net capital gain for TQQQ :  0 AUD
All Transactions for AAPL
   Code       Date Type  Quantity  Total Value ($)  Unit Value ($)
0  AAPL 2021-11-30    B         4       917.974080      229.493520
1  AAPL 2021-12-21    B         6      1433.048400      238.841400
2  AAPL 2021-12-21    B         6      1432.285550      238.714258
3  AAPL 2022-01-07    B        10      2397.448480      239.744848
4  AAPL 2022-07-11    S       -16     -3423.129282      213.945580
5  AAPL 2022-07-28    S        -5     -1108.728261      221.745652
6  AAPL 2022-07-29    S        -5     -1175.238000      235.047600
Financial Year Capital gain for AAPL
Empty DataFrame
Columns: [Date Purchased, Date Sold, Quantity, Buy Price, Sell Price, Capital Gain]
Index: []
Total capital gain for AAPL :  0 AUD
Net capital gain for AAPL :  0 AUD
All Transactions for QYLD
   Code       Date Type  Quantity  Total Value ($)  Unit Value ($)
0  QYLD 2021-10-07    B        31       945.509609       30.500310
1  QYLD 2021-11-30    B         5       160.110120       32.022024
2  QYLD 2021-12-14    S       -36     -1126.218240       31.283840
3  QYLD 2022-06-06    B         2        50.263700       25.131850
4  QYLD 2022-07-20    B        18       470.715840       26.150880
5  QYLD 2022-08-09    S       -20      -521.855548       26.092777
Financial Year Capital gain for QYLD
  Date Purchased   Date Sold  Quantity  Buy Price  Sell Price  Capital Gain
0     2021-10-07  2021-12-14      31.0  30.500310    31.28384     24.289431
1     2021-11-30  2021-12-14       5.0  32.022024    31.28384     -3.690920
Total capital gain for QYLD :  24.29 AUD
Net capital gain for QYLD :  20.6 AUD
All Transactions for CVX
  Code       Date Type  Quantity  Total Value ($)  Unit Value ($)
0  CVX 2021-10-22    B        20      2988.752200      149.437610
1  CVX 2021-10-22    B         6       896.625660      149.437610
2  CVX 2021-12-14    S       -26     -4215.818658      162.146871
3  CVX 2022-07-21    B         2       414.737996      207.368998
4  CVX 2022-07-29    S        -2      -471.532800      235.766400
Financial Year Capital gain for CVX
  Date Purchased   Date Sold  Quantity  Buy Price  Sell Price  Capital Gain
0     2021-10-22  2021-12-14      20.0  149.43761  162.146871    254.185229
1     2021-10-22  2021-12-14       6.0  149.43761  162.146871     76.255569
Total capital gain for CVX :  330.44 AUD
Net capital gain for CVX :  330.44 AUD
All Transactions for OXY
  Code       Date Type  Quantity  Total Value ($)  Unit Value ($)
0  OXY 2022-07-13    B         1        86.850855       86.850855
1  OXY 2022-07-13    B         1        86.657688       86.657688
2  OXY 2022-08-01    S        -2      -187.976348       93.988174
3  OXY 2022-08-15    B         3       267.797970       89.265990
4  OXY 2022-08-30    S        -3      -318.926235      106.308745
Financial Year Capital gain for OXY
Empty DataFrame
Columns: [Date Purchased, Date Sold, Quantity, Buy Price, Sell Price, Capital Gain]
Index: []
Total capital gain for OXY :  0 AUD
Net capital gain for OXY :  0 AUD
All Transactions for DBA
  Code       Date Type  Quantity  Total Value ($)  Unit Value ($)
0  DBA 2022-03-30    B         2        58.952592       29.476296
1  DBA 2022-06-24    S        -2       -59.785628       29.892814
Financial Year Capital gain for DBA
  Date Purchased   Date Sold  Quantity  Buy Price  Sell Price  Capital Gain
0     2022-03-30  2022-06-24       2.0  29.476296   29.892814      0.833036
Total capital gain for DBA :  0.83 AUD
Net capital gain for DBA :  0.83 AUD
All Transactions for JNJ
  Code       Date Type  Quantity  Total Value ($)  Unit Value ($)
0  JNJ 2022-08-19    B        10      2439.092799      243.909280
1  JNJ 2022-08-22    S       -10     -2442.099660      244.209966
Financial Year Capital gain for JNJ
Empty DataFrame
Columns: [Date Purchased, Date Sold, Quantity, Buy Price, Sell Price, Capital Gain]
Index: []
Total capital gain for JNJ :  0 AUD
Net capital gain for JNJ :  0 AUD
All Transactions for SNOW
   Code       Date Type  Quantity  Total Value ($)  Unit Value ($)
0  SNOW 2022-08-11    B         2       501.894900      250.947450
1  SNOW 2022-08-11    S        -2      -485.828616      242.914308
Financial Year Capital gain for SNOW
Empty DataFrame
Columns: [Date Purchased, Date Sold, Quantity, Buy Price, Sell Price, Capital Gain]
Index: []
Total capital gain for SNOW :  0 AUD
Net capital gain for SNOW :  0 AUD

C:\Users\reals\anaconda3\lib\site-packages\pandas\core\ops\array_ops.py:73: FutureWarning: Comparison of Timestamp with datetime.date is deprecated in order to match the standard library behavior. In a future version these will be considered non-comparable. Use 'ts == pd.Timestamp(date)' or 'ts.date() == date' instead.
  result = libops.scalar_compare(x.ravel(), y, op)
C:\Users\reals\AppData\Local\Temp\ipykernel_8644\2347149782.py:32: DeprecationWarning: Calling np.sum(generator) is deprecated, and in the future will give a different result. Use np.sum(np.fromiter(generator)) or the python sum builtin instead.
  sum_total = np.sum(x for x in df_filtered['Capital Gain'] if x > 0)
C:\Users\reals\AppData\Local\Temp\ipykernel_8644\2347149782.py:33: DeprecationWarning: Calling np.sum(generator) is deprecated, and in the future will give a different result. Use np.sum(np.fromiter(generator)) or the python sum builtin instead.
  sum_net = np.sum(x for x in df_filtered['Capital Gain'])
C:\Users\reals\anaconda3\lib\site-packages\pandas\core\ops\array_ops.py:73: FutureWarning: Comparison of Timestamp with datetime.date is deprecated in order to match the standard library behavior. In a future version these will be considered non-comparable. Use 'ts == pd.Timestamp(date)' or 'ts.date() == date' instead.
  result = libops.scalar_compare(x.ravel(), y, op)
C:\Users\reals\AppData\Local\Temp\ipykernel_8644\2347149782.py:32: DeprecationWarning: Calling np.sum(generator) is deprecated, and in the future will give a different result. Use np.sum(np.fromiter(generator)) or the python sum builtin instead.
  sum_total = np.sum(x for x in df_filtered['Capital Gain'] if x > 0)
C:\Users\reals\AppData\Local\Temp\ipykernel_8644\2347149782.py:33: DeprecationWarning: Calling np.sum(generator) is deprecated, and in the future will give a different result. Use np.sum(np.fromiter(generator)) or the python sum builtin instead.
  sum_net = np.sum(x for x in df_filtered['Capital Gain'])
C:\Users\reals\anaconda3\lib\site-packages\pandas\core\ops\array_ops.py:73: FutureWarning: Comparison of Timestamp with datetime.date is deprecated in order to match the standard library behavior. In a future version these will be considered non-comparable. Use 'ts == pd.Timestamp(date)' or 'ts.date() == date' instead.
  result = libops.scalar_compare(x.ravel(), y, op)
C:\Users\reals\AppData\Local\Temp\ipykernel_8644\2347149782.py:32: DeprecationWarning: Calling np.sum(generator) is deprecated, and in the future will give a different result. Use np.sum(np.fromiter(generator)) or the python sum builtin instead.
  sum_total = np.sum(x for x in df_filtered['Capital Gain'] if x > 0)
C:\Users\reals\AppData\Local\Temp\ipykernel_8644\2347149782.py:33: DeprecationWarning: Calling np.sum(generator) is deprecated, and in the future will give a different result. Use np.sum(np.fromiter(generator)) or the python sum builtin instead.
  sum_net = np.sum(x for x in df_filtered['Capital Gain'])
C:\Users\reals\anaconda3\lib\site-packages\pandas\core\ops\array_ops.py:73: FutureWarning: Comparison of Timestamp with datetime.date is deprecated in order to match the standard library behavior. In a future version these will be considered non-comparable. Use 'ts == pd.Timestamp(date)' or 'ts.date() == date' instead.
  result = libops.scalar_compare(x.ravel(), y, op)
C:\Users\reals\AppData\Local\Temp\ipykernel_8644\2347149782.py:32: DeprecationWarning: Calling np.sum(generator) is deprecated, and in the future will give a different result. Use np.sum(np.fromiter(generator)) or the python sum builtin instead.
  sum_total = np.sum(x for x in df_filtered['Capital Gain'] if x > 0)
C:\Users\reals\AppData\Local\Temp\ipykernel_8644\2347149782.py:33: DeprecationWarning: Calling np.sum(generator) is deprecated, and in the future will give a different result. Use np.sum(np.fromiter(generator)) or the python sum builtin instead.
  sum_net = np.sum(x for x in df_filtered['Capital Gain'])
C:\Users\reals\anaconda3\lib\site-packages\pandas\core\ops\array_ops.py:73: FutureWarning: Comparison of Timestamp with datetime.date is deprecated in order to match the standard library behavior. In a future version these will be considered non-comparable. Use 'ts == pd.Timestamp(date)' or 'ts.date() == date' instead.
  result = libops.scalar_compare(x.ravel(), y, op)
C:\Users\reals\AppData\Local\Temp\ipykernel_8644\2347149782.py:32: DeprecationWarning: Calling np.sum(generator) is deprecated, and in the future will give a different result. Use np.sum(np.fromiter(generator)) or the python sum builtin instead.
  sum_total = np.sum(x for x in df_filtered['Capital Gain'] if x > 0)
C:\Users\reals\AppData\Local\Temp\ipykernel_8644\2347149782.py:33: DeprecationWarning: Calling np.sum(generator) is deprecated, and in the future will give a different result. Use np.sum(np.fromiter(generator)) or the python sum builtin instead.
  sum_net = np.sum(x for x in df_filtered['Capital Gain'])
C:\Users\reals\anaconda3\lib\site-packages\pandas\core\ops\array_ops.py:73: FutureWarning: Comparison of Timestamp with datetime.date is deprecated in order to match the standard library behavior. In a future version these will be considered non-comparable. Use 'ts == pd.Timestamp(date)' or 'ts.date() == date' instead.
  result = libops.scalar_compare(x.ravel(), y, op)
C:\Users\reals\AppData\Local\Temp\ipykernel_8644\2347149782.py:32: DeprecationWarning: Calling np.sum(generator) is deprecated, and in the future will give a different result. Use np.sum(np.fromiter(generator)) or the python sum builtin instead.
  sum_total = np.sum(x for x in df_filtered['Capital Gain'] if x > 0)
C:\Users\reals\AppData\Local\Temp\ipykernel_8644\2347149782.py:33: DeprecationWarning: Calling np.sum(generator) is deprecated, and in the future will give a different result. Use np.sum(np.fromiter(generator)) or the python sum builtin instead.
  sum_net = np.sum(x for x in df_filtered['Capital Gain'])
C:\Users\reals\anaconda3\lib\site-packages\pandas\core\ops\array_ops.py:73: FutureWarning: Comparison of Timestamp with datetime.date is deprecated in order to match the standard library behavior. In a future version these will be considered non-comparable. Use 'ts == pd.Timestamp(date)' or 'ts.date() == date' instead.
  result = libops.scalar_compare(x.ravel(), y, op)
C:\Users\reals\AppData\Local\Temp\ipykernel_8644\2347149782.py:32: DeprecationWarning: Calling np.sum(generator) is deprecated, and in the future will give a different result. Use np.sum(np.fromiter(generator)) or the python sum builtin instead.
  sum_total = np.sum(x for x in df_filtered['Capital Gain'] if x > 0)
C:\Users\reals\AppData\Local\Temp\ipykernel_8644\2347149782.py:33: DeprecationWarning: Calling np.sum(generator) is deprecated, and in the future will give a different result. Use np.sum(np.fromiter(generator)) or the python sum builtin instead.
  sum_net = np.sum(x for x in df_filtered['Capital Gain'])
C:\Users\reals\anaconda3\lib\site-packages\pandas\core\ops\array_ops.py:73: FutureWarning: Comparison of Timestamp with datetime.date is deprecated in order to match the standard library behavior. In a future version these will be considered non-comparable. Use 'ts == pd.Timestamp(date)' or 'ts.date() == date' instead.
  result = libops.scalar_compare(x.ravel(), y, op)
C:\Users\reals\AppData\Local\Temp\ipykernel_8644\2347149782.py:32: DeprecationWarning: Calling np.sum(generator) is deprecated, and in the future will give a different result. Use np.sum(np.fromiter(generator)) or the python sum builtin instead.
  sum_total = np.sum(x for x in df_filtered['Capital Gain'] if x > 0)
C:\Users\reals\AppData\Local\Temp\ipykernel_8644\2347149782.py:33: DeprecationWarning: Calling np.sum(generator) is deprecated, and in the future will give a different result. Use np.sum(np.fromiter(generator)) or the python sum builtin instead.
  sum_net = np.sum(x for x in df_filtered['Capital Gain'])
C:\Users\reals\anaconda3\lib\site-packages\pandas\core\ops\array_ops.py:73: FutureWarning: Comparison of Timestamp with datetime.date is deprecated in order to match the standard library behavior. In a future version these will be considered non-comparable. Use 'ts == pd.Timestamp(date)' or 'ts.date() == date' instead.
  result = libops.scalar_compare(x.ravel(), y, op)
C:\Users\reals\AppData\Local\Temp\ipykernel_8644\2347149782.py:32: DeprecationWarning: Calling np.sum(generator) is deprecated, and in the future will give a different result. Use np.sum(np.fromiter(generator)) or the python sum builtin instead.
  sum_total = np.sum(x for x in df_filtered['Capital Gain'] if x > 0)
C:\Users\reals\AppData\Local\Temp\ipykernel_8644\2347149782.py:33: DeprecationWarning: Calling np.sum(generator) is deprecated, and in the future will give a different result. Use np.sum(np.fromiter(generator)) or the python sum builtin instead.
  sum_net = np.sum(x for x in df_filtered['Capital Gain'])

In [18]:
# Print summary dataframe for total and net capital gain
summary = pd.DataFrame(sum_df, columns = ['Code', 'Total gain', 'Net gain'])
print(summary)
print("Total Capital Gain: ", summary['Total gain'].sum().round(), "AUD")
print("Net Capital Gain: ", summary['Net gain'].sum().round(), "AUD")

   Code  Total gain    Net gain
0  SQQQ    0.000000    0.000000
1  TQQQ    0.000000    0.000000
2  AAPL    0.000000    0.000000
3  QYLD   24.289431   20.598511
4   CVX  330.440798  330.440798
5   OXY    0.000000    0.000000
6   DBA    0.833036    0.833036
7   JNJ    0.000000    0.000000
8  SNOW    0.000000    0.000000
Total Capital Gain:  356.0 AUD
Net Capital Gain:  352.0 AUD

In [26]:
summary.to_excel('tax_return_2022_US.xlsx', sheet_name = 'US_CG')

In [19]:
df_d = pd.read_excel("Stake_transaction_summary_report.xlsx", sheet_name="Dividends")
df_d.head()

,DATE (US),REFERENCE,SYMBOL,DIV AMOUNT,DIV VALUE (USD),TAX WITHHELD (USD),TAX RATE,NET DIV RECEIVED (USD),FX RATE,DIV VALUE LOCAL CURRENCY,TAX WITHHELD LOCAL CURRENCY,NET DIV RECEIVED LOCAL CURRENCY
0,2021-10-26,QYLD000291-58430,QYLD,0.1966,6.09,-0.91,0.15,5.18,1.3307,8.103963,-1.210937,6.893026
1,2021-12-01,QYLD000326-26920,QYLD,0.2246,6.96,-1.04,0.15,5.92,1.3949,9.708504,-1.450696,8.257808
2,2021-12-10,CVX000321-37868,CVX,1.3400,34.84,-5.23,0.15,29.61,1.3984,48.720256,-7.313632,41.406624
3,2022-02-14,AAPL00035-54740,AAPL,0.2200,5.72,-0.86,0.15,4.86,1.3937,7.971964,-1.198582,6.773382
4,2022-05-13,AAPL000126-84487,AAPL,0.2300,5.98,-0.90,0.15,5.08,1.4537,8.693126,-1.308330,7.384796

In [21]:
mask = (pd.to_datetime(df_d['DATE (US)']) > pd.to_datetime("2021-06-30")) & (pd.to_datetime(df_d['DATE (US)']) < pd.to_datetime("2022-07-01"))
print("2021-2022 US stock dividend (GROSS AUD): ", df_d[mask]['DIV VALUE LOCAL CURRENCY'].sum().round())
print("2021-2022 US stock dividend (TAX AUD): ", df_d[mask]['TAX WITHHELD LOCAL CURRENCY'].sum().round())
print("2021-2022 US stock dividend (NET AUD): ", df_d[mask]['NET DIV RECEIVED LOCAL CURRENCY'].sum().round())

2021-2022 US stock dividend (GROSS AUD):  84.0
2021-2022 US stock dividend (TAX AUD):  -13.0
2021-2022 US stock dividend (NET AUD):  71.0